<div class="view-head">
  <h2 class="animation" data-animation="animated fadeInRight">About Us</h2>
</div>
<div class="about-wrapper">
	<div class="container">
    <div class="page-head-right">
      <div class="head-info">
        <h1 class="animation" data-animation="animated fadeInLeft">Who we are</h1>
        <h6 class="animation" data-animation="animated fadeInLeft">BackyardLinks</h6>
      </div>
    </div>
  </div>
	<div class="light-wrapper">
	  <div class="light-information-wrapper col-lg-6">
	    <div class="light-information animation" data-animation="animated fadeInLeft">
	      <div class="page-head">
	        <h6>WE MAKE IT</h6>
	        <h1>Unlimited Creative</h1>
	        <p>This was one trait that advertising agencies were perceived to not always have. It was suggested that on occasions that media planner and researchers.</p>
	      </div>
	    </div>
	  </div>
	  <div class="light-window col-lg-6 animation" data-animation="animated fadeInRight">
	  	<%= image_tag 'about.jpg' %>
	  </div>
	</div>
	<div class="light-line col-lg-6 animation2" data-animation="animated fadeInLeft">
	  <div class="col-lg-6 light-image-wrapper">
	  	<div class="light-overlay"></div>
	    <%= image_tag 'mision.jpg' %>
	  </div>
	  <div class="light-content-wrapper col-lg-6 light-right">
	    <div class="light-content">
	      <span><i class="fas fa-rocket"></i></span>
	      <h3>Mission</h3>
	      <p>This was one trait that advertising agencies were perceived to not always have.</p>
	    </div>
	  </div>
	</div>
	<div class="light-line col-lg-6 animation2" data-animation="animated fadeInRight">
		<div class="col-lg-6 light-image-wrapper">
			<div class="light-overlay"></div>
	    <%= image_tag 'vision.jpg' %>
	  </div>
	  <div class="light-content-wrapper col-lg-6 light-right">
	    <div class="light-content">
	      <span><i class="far fa-lightbulb"></i></span>
	      <h3>Vision</h3>
	      <p>This was one trait that advertising agencies were perceived to not always have.</p>
	    </div>
	  </div>
	</div>
</div>
