<div class="view-head">
  <h2 class="animation" data-animation="animated fadeInRight">Services</h2>
</div>
<div class="services-page-wrapper">
  <div class="container">
    <div class="page-head-right">
      <div class="head-info">
        <h1 class="animation" data-animation="animated fadeInLeft">What We Do</h1>
        <h6 class="animation" data-animation="animated fadeInLeft">What we do</h6>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-4 animation" data-animation="animated fadeInUp">
      <div class="service-card-container">
        <div class="service-card">
          <span><i class="fas fa-pen-nib"></i></span>
          <h4>Creative Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="figure figure-1"></div>
      </div>
    </div>
    <div class="col-lg-4 animation" data-animation="animated fadeInUp">
      <div class="service-card-container">
        <div class="service-card">
          <span><i class="fas fa-code"></i></span>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="figure figure-2"></div>
      </div>
    </div>
    <div class="col-lg-4 animation" data-animation="animated fadeInUp">
      <div class="service-card-container">
        <div class="service-card">
          <span><i class="fab fa-gg-circle"></i></span>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="figure figure-3"></div>
      </div>  
    </div>
  </div>
</div>
<div class="testimonial-wrapper">
  <%= image_tag 'back1.jpeg' %>
  <div class="testimonial-overlay"></div>
  <div class="testimonial-content animation2" data-animation="animated fadeInUp">
    <div class="container">
      <div class="page-head">
        <h1 class="">What Our Clients Say</h1>
      </div>
      <div id="testimonial-slider" class="testimonial-slider">
        <div class="slide">
          <p>“Incredible! What you did for our company was amazing. I recommend your services to all friends and colleagues”</p>
          <span><i class="fas fa-angle-double-down"></i></span>
          <h4>Juan Vega</h4>
        </div>
        <div class="slide">
          <p>“Incredible! What you did for our company was amazing. I recommend your services to all friends and colleagues”</p>
          <span><i class="fas fa-angle-double-down"></i></span>
          <h4>Juan Vega</h4>
        </div>
        <div class="slide">
          <p>“Incredible! What you did for our company was amazing. I recommend your services to all friends and colleagues”</p>
          <span><i class="fas fa-angle-double-down"></i></span>
          <h4>Juan Vega</h4>
        </div>
      </div>
    </div>
  </div>
</div>
