<div class="view-head">
  <h2 class="animation" data-animation="animated fadeInRight">Error</h2>
</div>
<div class="error-wrapper">
	<div class="container">
    <div class="page-head-right">
      <div class="head-info">
        <h1 class="animation" data-animation="animated fadeInLeft">Error 422</h1>
        <h6 class="animation" data-animation="animated fadeInLeft">Tu solicitud no puede ser procesada!</h6>
      </div>
    </div>
  </div>
</div>